parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$binary in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: contributions/binaries/controller/base/binaries.basecontroller.php

		-
			message: "#^Access to an undefined property IImageInformation\\:\\:\\$handle\\.$#"
			count: 6
			path: contributions/lib.imagetools/lib/components/imagetools_impl/imagetools.gd.cls.php

		-
			message: "#^Access to an undefined property IImageInformation\\:\\:\\$type\\.$#"
			count: 6
			path: contributions/lib.imagetools/lib/components/imagetools_impl/imagetools.gd.cls.php
